.image1{
content: url('../../images/1.jpg');}

.image2{
    content: url('../../images/2.jpg');}

    .image3{
        content: url('../../images/4.jpg');}
        
        
        .image4{
            content: url('../../images/4.jpg');}